In [1]:
import pandas as pd
import numpy as np

In [6]:
date_1 = pd.read_csv("date_1.csv")
date_2 = pd.read_csv("date_2.csv")
date_3 = pd.read_csv("date_3.csv")
date_4 = pd.read_csv("date_4.csv")
date_5 = pd.read_csv("date_5.csv")

full_date_df = pd.concat([date_1,date_2,date_3,date_4,date_5])

len(full_date_df)

263650

In [24]:
full_date_df.head()

   created_utc
0   1201236548
1   1201236599
2   1201236626
3   1201236662
4   1201236696

In [21]:
title_1 = pd.read_csv("title_1.csv")
title_2 = pd.read_csv("title_2.csv")
title_3 = pd.read_csv("title_3.csv")
title_4 = pd.read_csv("title_4.csv")
title_5 = pd.read_csv("title_5.csv")

full_title_df = pd.concat([title_1,title_2,title_3,title_4,title_5])

len(full_title_df)

314924

In [25]:
full_title_df.head()

                                               title
0                      The Best Economics Blog Going
1  Meta: Seed The Economics blog with direct link...
2  Meta: Seed The Economics subreddit with direct...
3                                    Calculated Risk
4                              Chris Blattman's Blog

In [34]:
full_df = pd.concat([full_date_df.reset_index(), full_title_df.reset_index()], axis=1)

In [40]:
full_df_clean = full_df.dropna()

In [41]:
print(full_df_clean.shape)

(263650, 4)

In [42]:
full_df_clean.head()

,index,created_utc,index,title
0,0.0,1.201237e+09,0,The Best Economics Blog Going
1,1.0,1.201237e+09,1,Meta: Seed The Economics blog with direct link...
2,2.0,1.201237e+09,2,Meta: Seed The Economics subreddit with direct...
3,3.0,1.201237e+09,3,Calculated Risk
4,4.0,1.201237e+09,4,Chris Blattman's Blog

In [43]:
full_df_clean = full_df_clean[['created_utc','title']]

In [45]:
import datetime

In [46]:
full_df_clean['date'] = pd.to_datetime(full_df_clean['created_utc'], unit = "s")
full_df_clean.head()

,created_utc,title,date
0,1.201237e+09,The Best Economics Blog Going,2008-01-25 04:49:08
1,1.201237e+09,Meta: Seed The Economics blog with direct link...,2008-01-25 04:49:59
2,1.201237e+09,Meta: Seed The Economics subreddit with direct...,2008-01-25 04:50:26
3,1.201237e+09,Calculated Risk,2008-01-25 04:51:02
4,1.201237e+09,Chris Blattman's Blog,2008-01-25 04:51:36

In [47]:
full_df_clean['date'] = full_df_clean['date'].dt.date
full_df_clean.head()

    created_utc                                              title        date
0  1.201237e+09                      The Best Economics Blog Going  2008-01-25
1  1.201237e+09  Meta: Seed The Economics blog with direct link...  2008-01-25
2  1.201237e+09  Meta: Seed The Economics subreddit with direct...  2008-01-25
3  1.201237e+09                                    Calculated Risk  2008-01-25
4  1.201237e+09                              Chris Blattman's Blog  2008-01-25

In [48]:
full_df_clean = full_df_clean[['date', 'title']]
full_df_clean.head()

         date                                              title
0  2008-01-25                      The Best Economics Blog Going
1  2008-01-25  Meta: Seed The Economics blog with direct link...
2  2008-01-25  Meta: Seed The Economics subreddit with direct...
3  2008-01-25                                    Calculated Risk
4  2008-01-25                              Chris Blattman's Blog

In [49]:
import nltk

In [50]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/michele/nltk_data...

True

In [51]:
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [58]:
# Index of the row you want to analyze (e.g., row 1)
row_index = 1

# Get the text from the specific row
text_to_analyze = full_df_clean.loc[row_index, 'title']

# Calculate sentiment scores for the text
sentiment_scores = analyzer.polarity_scores(text_to_analyze)

# Interpret the sentiment scores
compound_score = sentiment_scores['compound']

In [66]:
scores = []
for i in range(0,len(full_df_clean['title'])):
    row_index = i
    text_to_analyse = full_df_clean.loc[row_index,'title']
    sentiment_scores = analyzer.polarity_scores(text_to_analyse)
    compound_score = sentiment_scores['compound']
    scores.append(compound_score)

In [67]:
len(scores)

263650

In [79]:
full_df_clean['scores'] = scores
full_df_clean.head()

,date,title,sentiment,scores
0,2008-01-25,The Best Economics Blog Going,0.6369,0.6369
1,2008-01-25,Meta: Seed The Economics blog with direct link...,0.4588,0.4588
2,2008-01-25,Meta: Seed The Economics subreddit with direct...,0.4588,0.4588
3,2008-01-25,Calculated Risk,-0.2732,-0.2732
4,2008-01-25,Chris Blattman's Blog,0.0000,0.0000

In [80]:
full_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263650 entries, 0 to 263649
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       263650 non-null  datetime64[ns]
 1   title      263650 non-null  object
 2   sentiment  263650 non-null  float64
 3   scores     263650 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 18.1+ MB

In [81]:
full_df_clean['date'] = pd.to_datetime(full_df_clean['date'])

In [82]:
full_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 263650 entries, 0 to 263649
Data columns (total 4 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   date       263650 non-null  datetime64[ns]
 1   title      263650 non-null  object
 2   sentiment  263650 non-null  float64
 3   scores     263650 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 18.1+ MB

In [83]:
full_df_clean.head()

,date,title,sentiment,scores
0,2008-01-25,The Best Economics Blog Going,0.6369,0.6369
1,2008-01-25,Meta: Seed The Economics blog with direct link...,0.4588,0.4588
2,2008-01-25,Meta: Seed The Economics subreddit with direct...,0.4588,0.4588
3,2008-01-25,Calculated Risk,-0.2732,-0.2732
4,2008-01-25,Chris Blattman's Blog,0.0000,0.0000

In [87]:
sentiment_df = full_df_clean.groupby('date')['scores'].mean().reset_index()

In [88]:
sentiment_df.head()

        date    scores
0 2008-01-25  0.084243
1 2008-01-26  0.003900
2 2008-01-27  0.075342
3 2008-01-28 -0.027604
4 2008-01-29  0.030093

In [89]:
sentiment_df.tail()

           date    scores
4751 2022-12-27  0.083791
4752 2022-12-28 -0.019761
4753 2022-12-29  0.011074
4754 2022-12-30  0.020986
4755 2022-12-31 -0.193041

In [94]:
for i in range(0,len(sentiment_df['scores'])):
    if sentiment_df.loc[i,'scores'] >= 0.05:
        sentiment_df.loc[i,'sentiment'] = 'Positive'
    elif sentiment_df.loc[i,'scores'] <= -0.05:
        sentiment_df.loc[i,'sentiment'] = 'Negative'
    else:
        sentiment_df.loc[i,'sentiment'] = 'Neutral'

In [95]:
sentiment_df.head()

        date    scores sentiment
0 2008-01-25  0.084243  Positive
1 2008-01-26  0.003900   Neutral
2 2008-01-27  0.075342  Positive
3 2008-01-28 -0.027604   Neutral
4 2008-01-29  0.030093   Neutral